/.nextflow
/.nextflow.log
/.nextflow.log.1
/.nextflow.log.2
/.nextflow.log.3
/.nextflow.log.4
/.nextflow.log.5
/.nextflow.log.6
/.nextflow.log.7
/.nextflow.log.8
/.nextflow.log.9
/exp_4.out
/fast5_viewer.py
/final_exp_4.out
/final_sample_sheet.csv
/gene_biotype_counts.tsv
/gene_makeup_mrna.tsv
/gene_makeup_other.tsv
/gene_type_reference.tsv
/gene_types.py
/guppy_script.sh
/nextflow_read_analysis.sh
/ploya_scatterplot.py
/read_gene_ids.tsv
/replay_pid12693.log
/replay_pid17718.log
/replay_pid32367.log
/rna_vs_mrna.out
/sample_sheet.csv
/sbatch_wrapper.sh
/slurm-15882118.out
/slurm-15882119.out
/slurm-15882120.out
/slurm-25607042.out
/slurm-26045696.out
/slurm-26064991.out
/work
slurm-26803051.out
