apptainer.cacheDir = "$baseDir/apptainer"

process {
    executor = "slurm"
    clusterOptions = '--account=def-mcconkey'
    errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' } 
    maxRetries = 3
    withLabel: basecalling {
        container = "/home/bdpitica/scratch/mRNA_isoform/containers/guppy-gpu_latest.sif"
        memory = "64GB"
        time = {4.hour  * task.attempt }
        cpus = 32
        containerOptions = "--nv"
        clusterOptions = "--gres=gpu:2"
    }
    withLabel: polyA {
        container = "/home/bdpitica/scratch/mRNA_isoform/containers/nanopolish_v0.11.0-2-deb_cv1.sif"
        memory = "16GB"
        time = { 3.hour * task.attempt }
        cpus = 64
    }
    withLabel: aligning {
        container = "/home/bdpitica/scratch/mRNA_isoform/containers/minimap2_latest.sif"
        memory = "32GB"
        time = { 1.hour * task.attempt }
        cpus = 64
    }
    withLabel: remove_adaptor {
        container = "/home/bdpitica/scratch/mRNA_isoform/containers/porechop_latest.sif"
        memory = "16GB"
        time = { 1.hour * task.attempt }
        cpus = 64
    }
    withLabel: split_reads {
        memory = "16GB"
        time = { 2.hour * task.attempt }
        cpus = 32
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}


process {
    withLabel: smallJob {
        executor = "local"
    }
    withLabel: python {
        executor = "local"
    }
    
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    standard {
        apptainer {
            enabled = true
            autoMounts = true
        }
    }
}